about-time
alive-progress
blinker
certifi
charset-normalizer
click
colorama
Flask
grapheme
idna
itsdangerous
Jinja2
MarkupSafe
MouseInfo
prettytable
psutil
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
pywin32
requests
tk
tkinterdnd2
urllib3
wcwidth
Werkzeug
